<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <style type="text/css">
        body {
            padding-top: 100px;
        }

        p {
            text-align: center;
        }

        img.center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        h2 {
            text-align: center;
        }

    </style>

    <script>
        $(document).ready(function () {
            $('#image').popover({title: "摸你妹！", content: "虎你熊脸！"});
            $('#image2').popover({title: "恭喜你！", content: "这是被上帝选中的！"}).hide();

            $('#resultDiv').hide();

            $('#button').click(function () {
                $('#button').attr("disabled", "disabled");
                $.post("choose/", function (data) {
                    $('#resultDiv').show();
                    $('#image').hide()
                    $('#image2').show()
                    $('#result').text(data.toString());
                    $('#button').removeAttr('disabled').text('Try again?');
                });
            });

        });

    </script>

    <title>What To Eat Today?</title>
</head>
<body>
<div class="container">
    <!-- navigate bar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">What to eat today?</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/jeremysong/whattoeattoday/issues">Find any issues? Create new issue
                        report here.</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- main content -->
    <div class="jumbotron">
        <h2>Can't decide what to eat? Let me choose for you.</h2>
        <br>

        <img id="image" class="center img-circle" style="width:70%" src="http://www.kilblaanfarm.com/alpaca.jpg">
        <img id="image2" class="center img-circle" style="width:70%"
             src="http://image.toutlecine.com/photos/l/o/s/lost-in-translation-2003-12-g.jpg">
        <br>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form id="submit" action="choose" method="POST">
                    <button id="button" type="button" class="btn btn-success btn-lg btn-block">I'm feeling lucky!
                    </button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br>

        <div class="row" id="resultDiv">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="alert alert-danger">
                    <p id="result">The result goes here.</p>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br>

    </div>
</div>


</body>
</html>