<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <style type="text/css">
        body {
            padding-top: 100px;
        }

        p {
            text-align: center;
        }

        img.center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        h2 {
            text-align: center;
        }

    </style>

    <script>
        $(document).ready(function () {
            $('#image2').hide()

            $('#button').click(function () {
                $('#button').attr("disabled", "disabled");
                $.post("choose/", function (data) {
                    $('#image').hide()
                    $('#image2').show()
                    $('#result').text(data.toString());
                    $('#button').removeAttr('disabled');
                });
            });

            $('#image').click(function() {
                alert("虎你熊脸！");
            })

            $('#image2').click(function() {
                alert("这是被上帝选中的！");
            })
        });

    </script>

    <title>What To Eat Today?</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h2>Can't decide what to eat? Let me choose for you.</h2>
        <small>{% now "jS F Y H:i" %}</small>
        <br>

        <img id="image" class="center img-circle" style="width:70%" src="http://www.kilblaanfarm.com/alpaca.jpg" >
        <img id="image2" class="center img-circle" style="width:70%" src="http://image.toutlecine.com/photos/l/o/s/lost-in-translation-2003-12-g.jpg">
        <br>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form id="submit" action="choose" method="POST">
                    <button id="button" type="button" class="btn btn-success btn-lg btn-block">I'm feeling lucky!</button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="alert alert-danger">
                    <p id="result">The result goes here.</p>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br>

    </div>
</div>


</body>
</html>